body{
    text-align: center;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(88,192,255,1) 73%, rgba(255,255,255,1) 100%);
}

.aircraft{
    border-radius: 50%;
    width: 500px;
}

.code{
    border-radius: 10px;
}

span{
    font-weight: bold;
}